body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#ebebeb;
}

* {
    font-family: 'Montserrat', sans-serif;
}

/************* HEADER *************/
header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border: 2px solid lightgrey;
    box-shadow: 3px 3px 10px 2px lightgrey;
    border-bottom: 5px solid #df2e3d;
}

h1 {
    width: 100%;
    display: flex;
}

.menu {
    display: flex;
    justify-content: center;
}

.authorbutton {
    background-color: #ebebeb;
    padding: 1%;
    margin: 1%;
    width: 10%;
    box-shadow: 2px 2px 3px lightgrey;
    border: none;
}

.authorbutton:hover {
    background-color: #df2e3d;
    color: white;
}

/************* CONTAINER *************/
.container {
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px
}

article {
    width: 100%;
    margin: 1%;
    display: flex;
    background-color: white;
    border: 2px solid lightgrey;
    box-shadow: 3px 3px 10px 2px lightgrey;
}

img {
    height: auto;
    width: 100%;
}




/************* TEXT & COLOR *************/

h2 {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    background-color: #df2e3d;
    margin-top: 0;
    right: 0;
    left: 0;
}

h3 {
    font-size: small;
    padding-left: 1rem;
    margin-top: 0;
    padding-bottom: 0.5rem;
    display: table;
}

.author {
    text-align: left;
    display: table-cell;
}

.date {
    display: table-cell;
    text-align: right;
}

a {
    font-weight: bolder;
    color: red;
}


/************* MEDIA QUERIES *************/

